* {
    box-sizing: border-box;
}


/* FONTS */

@font-face {
    font-family: impact;
    src: url(../fonts/impact/impact.ttf);
}

@font-face {
    font-family: roboto-regular;
    src: url(../fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto-medium;
    src: url(../fonts/roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: roboto-bold;
    src: url(../fonts/roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: oswald;
    src: url(../fonts/oswald/Oswald-Bold.ttf);
}

@font-face {
    font-family: brands;
    src: url(../fonts/awesome/fa-brands-400.ttf);
}


/* LOAD FONTS */

h1,
h2,
h3 {
    font-family: impact;
    color: transparent;
    position: absolute;
    z-index: -1;
    font-size: 1px;
}


/* GENERAL */

html {
    font-size: 16px;
    font-family: roboto-regular;
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

canvas {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 1px solid black;
    /* width: 100%; */
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #51d1c0;
}

button {
    border-style: none;
    border-radius: 0.3em;
    cursor: pointer;
}

label,
input {
    cursor: pointer;
}


/* HELPERS */

.container {
    max-width: 350px;
    margin: 0 auto;
}


/* flex helpers */

.flex {
    display: flex;
}

.flex-1 {
    flex-grow: 1;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.hidden {
    display: none;
}


/* list helpers */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/* COMPONENTS */

.main-header {
    width: 100%;
    background-color: #292929;
    color: whitesmoke;
    position: fixed;
}

.nav-container {
    height: 100%;
}

.logo {
    font-size: 1.875rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.main-nav>* {
    border-inline-end: 1px solid #1d1d1d;
}

.main-nav>*:first-child {
    border-inline-start: 1px solid #1d1d1d;
}

.main-nav {
    align-items: center;
}

.main-nav a {
    color: inherit;
    height: 80px;
    width: 100px;
    transition: box-shadow .3s;
}

.main-nav a.active {
    color: #51d1c0;
    box-shadow: inset 0 -6px 0 #51d1c0;
    ;
}

.main-nav a:hover {
    color: #51d1c0;
    box-shadow: inset 0 -6px 0 #51d1c0;
    ;
}

.main-content {
    padding-top: 20px;
    padding-bottom: 30px;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.search {
    margin-top: 80px;
    margin-bottom: 20px;
    text-align: center;
    height: 20px;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 20px 10px;
    margin-bottom: 20px;
}

.gallery-container>* {
    /* border: 1px solid black; */
    /* background-color: rgb(160, 209, 255); */
    font-size: 2em;
    height: 160px;
}


/* EDITOR */

.canvas-container {
    margin: 0 auto;
    /* padding: 20px; */
    width: 100vw;
    /* height: 60vh; */
}

.edit-container {
    display: none;
    flex-direction: column;
}

.close {
    align-self: flex-start;
    margin-bottom: 10px;
    background-color: transparent;
    font-size: 1.3em;
}

.edit>* {
    margin: 5px;
}

.text>* {
    height: 2em;
}

label img {
    width: 1.5em;
}

.btn-icon>* {
    width: 3em;
    padding-top: 0.3em;
}

.color-input {
    width: 5em;
    padding: 0;
    border: none;
}

.btn-menu {
    color: white;
    font-size: 1.8em;
    background-color: transparent;
    border-style: none;
}

.share-container {
    display: none;
}

form button {
    background-color: transparent;
    font-size: 1em;
}

.links>* {
    background-color: rgb(239, 239, 239);
    padding: 0.3em 1.2em;
    border-radius: 3px;
    flex: 1;
    text-align: center;
}

.remove {
    position: relative;
    top: 2em;
    left: .3em;
    font-size: .5em;
}


/* FOOTER */

.footer {
    background-color: #d8d8d8;
    position: relative;
    bottom: 0;
}

.footer>* {
    flex-direction: column;
    height: inherit;
}

.footer-container {
    padding: 30px 0;
    line-height: 1;
}

.footer .logo {
    margin-block-end: 10px;
    font-size: 1em;
    margin-top: 0;
}

small {
    margin-block-end: 20px;
}

.social-nav>a {
    display: flex;
    color: #fff;
    background-color: #ececec;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.social-nav>a:not(:last-child) {
    margin-inline-end: 1.25rem;
}

.fa {
    font-family: brands;
}

.fa.facebook::before {
    content: "\f39e";
}

.fa.facebook:hover {
    background-color: #516fad;
}

.fa.twitter::before {
    content: "\f099";
}

.fa.twitter:hover {
    background-color: #53a7e7;
}

.fa.dribble::before {
    content: "\f17d";
}

.fa.dribble:hover {
    background-color: #e04a85;
}

.fa.behance::before {
    content: "\f1b4";
}

.fa.behance:hover {
    background-color: #3f72f2;
}


/* MEDIA QUERIES */


/* SMALL */

@media (min-width: 540px) {
    .container {
        max-width: 500px;
    }
}


/* MEDIUM */

@media (min-width: 700px) {
    .container {
        max-width: 660px;
    }
    .canvas-container {
        width: 60vw;
        /* height: 60vh; */
    }
    .gallery-container {
        grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
    }
    .control {
        margin: 0;
    }
    .edit-container {
        flex-direction: row;
        justify-content: space-between;
    }
    .btn-menu {
        display: none;
    }
}


/* LARGE */

@media (min-width: 1100px) {
    .container {
        max-width: 1060px;
    }
    .canvas-container {
        width: 40vw;
        /* height: 50vh; */
    }
    .gallery-container {
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
        gap: 20px 10px;
    }
}


/* SIDE MENU */

@media (max-width: 700px) {
    .main-screen {
        position: fixed;
        /* z-index: 1; */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        cursor: pointer;
        pointer-events: none;
        opacity: 0;
        transition: opacity .8s;
    }
    body.menu-open .main-screen {
        pointer-events: auto;
        opacity: 1;
    }
    .main-nav {
        flex-direction: column;
        position: fixed;
        z-index: 2;
        right: 0;
        top: 0;
        background-color: rgba(255, 255, 255, .9);
        height: 100vh;
        border-left: 1px solid #ebebeb;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, .16);
        transform: translateX(100%);
        transition: transform .6s;
    }
    body.menu-open .main-nav {
        transform: translateX(0);
    }
    .main-nav>*:not(:last-child) {
        margin: 0;
    }
    .main-nav>* {
        border-bottom: 1px solid #ebebeb;
    }
    .main-nav a {
        display: block;
        width: 200px;
        height: 50px;
        color: #1d1d1d;
        text-align: center;
        padding: 12px 0;
        transition: background-color .1s;
    }
    .main-nav a:hover {
        color: #51d1c0;
        background-color: #f1f1f1;
    }
}